<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".DutchPayActivity"/>
        <activity android:name=".CameraActivity" />
        <activity android:name=".SendingActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".Menu1Fragment" />
        <activity android:name=".Menu2Fragment" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".OpenedActivity" />
        <activity android:name=".RemittanceActivity" />
        <activity android:name=".AllSetActivity" />
        <activity android:name=".TimeLineActivity" />
        <activity android:name=".LookUpActivity" />
        <activity android:name=".Main3Activity" />
    </application>

</manifest>